
<nav class="navigation modern-nav" aria-label="Main Navigation">
	<div class="nav-inner">
		<ul class="nav-left">
			{{ if not .IsHome }}
				<li>
					<a id="home-button" class="nav-btn" href="{{ "/" | relURL }}" title="Home" aria-label="Home">
						<span class="iconify nav-icon" data-icon="mdi-home" aria-hidden="true"></span>
						<span class="sr-only">{{ with .Site.Params.home }}{{ . }}{{ else }}{{ i18n "home" }}{{ end }}</span>
					</a>
				</li>
			{{ end }}
			{{ range $element := .Site.Menus.left }}
				<li>
					<a href="{{ $element.URL }}" class="nav-btn" title="{{ $element.Name }}" aria-label="{{ $element.Name }}">
						<span class="iconify nav-icon" data-icon="mdi-menu" aria-hidden="true"></span>
						<span class="sr-only">{{ $element.Name }}</span>
					</a>
				</li>
			{{ end }}
		</ul>
		<ul class="nav-center">

		</ul>
		<ul class="nav-right">
			{{ range $element := .Site.Menus.right }}
				<li>
					<a href="{{ $element.URL }}" class="nav-btn" title="{{ $element.Name }}" aria-label="{{ $element.Name }}">
						<span class="iconify nav-icon" data-icon="mdi-menu" aria-hidden="true"></span>
						<span class="sr-only">{{ $element.Name }}</span>
					</a>
				</li>
			{{ end }}
			<!-- RSS Feed -->
			{{ if .OutputFormats.Get "RSS" }}
				{{ with .OutputFormats.Get "RSS" }}
					<li>
						<a class="nav-btn nav-rss" href="{{ .RelPermalink }}" title="Subscribe RSS" aria-label="Subscribe RSS">
							<span class="iconify nav-icon" data-icon="mdi-rss" aria-hidden="true"></span>
							<span class="sr-only">Subscribe</span>
						</a>
					</li>
				{{ end }}
			{{ end }}
		</ul>
	</div>
</nav>
