{{ define "main" }}
{{ partial "header.html" . }}

<div id="list-page">
    {{ $pages := .Site.RegularPages }}
    {{ $paginator := .Paginate ($pages) }}
    {{ range $paginator.Pages }}
        {{ $title := .Title }}
        {{ $summary := .Summary }}
        <section class="item">
          <h2 class="title"><a href='{{ .RelPermalink }}'>{{ $title }}</a></h2>

          <a href='{{ .RelPermalink }}'>
            <img src="{{ .Params.banner.path }}" alt="{{ $title }}" />
          </a>

          <div class ="date">
            <time datetime="{{ .PublishDate }}">{{ i18n "publishDate" . }}</time>  
          </div>

          {{ if ne .Site.Params.hiddenPostSummaryInHomePage true }}
              <div class="summary">
                <p class="summary-text">{{ $summary | plainify | htmlUnescape }}</p>
              </div>
          {{ end }}
        </section>
    {{ end }}

  {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
    <div class="pagination">
      {{ if $paginator.HasPrev }}
        <span class="prev">
          <a href="{{ $paginator.Prev.URL }}" rel="prev">
          <span class="iconify" data-icon="mdi:arrow-left" aria-hidden="true"></span>
          <span class="label">{{ with .Site.Params.newerPosts }}{{ . }}{{ else }}{{ i18n "postsNewer" }}{{ end }}</span>
          </a>
        </span>
      {{ end }}

      {{ if $paginator.HasNext }}
        <span class="next">
          <a href="{{ $paginator.Next.URL }}" rel="next">
            <span class="label">{{ with .Site.Params.olderPosts }}{{ . }}{{ else }}{{ i18n "postsOlder" }}{{ end }}</span>
            <span class="iconify" data-icon="mdi:arrow-right" aria-hidden="true"></span>
          </a>
        </span>
      {{ end }}
    </div>
  {{ end }}
</div>
{{ end }}
